#container {
	width: 30%;
	padding-top: 50px;
	margin: auto;
	position: relative;
}
#player1Wrapper {
	float:left;
}
#player2Wrapper {
	float:right;
}
#centralWrapper {
	width: 50%;
	margin: auto;
}

#diceList, #centralWrapper, #buttons { 
	text-align: center; 
}
#diceList {
	padding: 0;
	list-style-type: none;
	font-size: 20px;
}
#diceList li { 
	display: inline-block; 
	width: 20px;
	cursor: pointer;
	margin: 2px;
	border: 1px solid #cccccc;
}
#diceList li:active {
	background-color: #cccccc;
}
.diceClicked {
	background-color: #dddddd;
}

@media (max-width: 600px) {
	#container {
		width: 90%;
	}
	#centralWrapper {
		width: 70%;
	}
}


}